




.tx{
  border-radius: 5px;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}

.tb{
  font-size: 15pt;
  text-align: center;
  width:100%;
}
.txt{
  border-radius: 5px;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.vx{
  font-size: 15pt;
}

h1{
  text-align: center;
}
.ln{
  width: 75%;
  padding: 1px;
  background-color: black;

}
